<!DOCTYPE html>
<html>


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This is the thesis project">
    <meta name="author" content="Chansida Makaranond">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <title>Result</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--TemplateMo 570 Chain App Dev https://templatemo.com/tm-570-chain-app-dev-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/templatemo-chain-app-dev.css">
    <link rel="stylesheet" href="/css/animated.css">
    <link rel="stylesheet" href="/css/owl.css">
    <style>
        .status {
            float: right;
        }

        .name {
            float: left;
        }

        .btn-danger {
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
        }

        .btn-warning {
            color: #000;
            background-color: #ffc107;
            border-color: #ffc107;
        }
    </style>
</head>

<body>

    <script src="https://apis.google.com/js/api.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <div class="container">

        <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <a href="/home" class="logo">
                                <img src="/Pic/mylogo.png" alt="Microusity">
                            </a>


                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li class="scroll-to-section"><a href="/home">Home</a></li>
                                <li class="scroll-to-section"><a href="/content">Content</a></li>
                                <li class="scroll-to-section"><a href="/quiz">Quiz</a></li>
                                <li class="scroll-to-section"><a href="/testingtool" class="active">Testing tool</a>
                                </li>
                                <li class="scroll-to-section"><a href="/aboutus">About us</a></li>
                                <li>
                                    <div class="gradient-button"><a id="modal_trigger" href="/logout">Log Out</a></div>
                                </li>
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->

        <br><br><br><br><br><br><br>
        <!--Result list-->

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Backend For Frontend (BFF)</h5>
                        <p class="card-text" style="color:black;">Error code count</p>
                        <button type="button" class="btn btn-danger"><b>4XX:</b>
                            <%=main4xxs %>
                        </button>
                        <a class="btn btn-warning"><b>5XX:</b>
                            <%=main5xxs %>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Microservice API</h5>
                        <p class="card-text" style="color:black;">Error code count</p>
                        <button type="button" class="btn btn-danger"><b>4XX:</b>
                            <%=sub4xxs %>
                        </button>
                        <a class="btn btn-warning"><b>5XX:</b>
                            <%=sub5xxs %>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <ul class="list-group">

            <% for(let result of results){ %>
                <% for(let trackId of trackIds){ %>
                    <% if(result.request.subrequest==trackId.id){ %>
                        <li class="list-group-item list-group-item-action list-group-item-danger">
                            <div class="main">
                                <h5>
                                    <span class="name">Request: <%= result.request.method %>
                                            <%= result.request.uri %></span>
                                    <span class="status">
                                        <%= result.request.status_code %>
                                    </span>
                                </h5>
                            </div>
                        </li>

                        <% for(let subrequest of result.subrequest){ %>
                            <li class="list-group-item">
                                <div class="sub">
                                    <span class="name">Subrequest: <%= subrequest.method %>
                                            <%= subrequest.uri %></span>
                                    <span class="status">
                                        <%= subrequest.status_code %>
                                    </span>
                                </div>
                            </li>

                            <% } %>
                                <br>
                                <% } %>
                                    <% } %>
                                        <% } %>

        </ul>


        <script>



            //function that tigger when clicking the submit button
            btnDictSubmit.on('click', function () {
                let dict = inputDict.val()
                let dyn = inputDyn.val()
                submit(dict, dyn)
            })

            function submit(dict, dyn) {

                console.log(dict)
                var parseDict = JSON.parse(dict);
                console.log(parseDict)
                $.ajax
                    ({
                        type: "GET",
                        dataType: 'json',
                        async: false,
                        url: 'http://localhost:8080/saveDict_json',
                        data: { data: JSON.stringify(parseDict) },
                        success: function () { alert("Success"); },
                        failure: function () { alert("Error"); }
                    });

                console.log(dyn)
                var parseDyn = JSON.parse(dyn);
                console.log(parseDyn)
                $.ajax
                    ({
                        type: "GET",
                        dataType: 'json',
                        async: false,
                        url: 'http://localhost:8080/saveDyn_json',
                        data: { data: JSON.stringify(parseDyn) },
                        success: function () { alert("Success"); },
                        failure: function () { alert("Error"); }
                    });

            }

        </script>

    </div>
</body>

</html>