<!DOCTYPE html>
<html>


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This is the thesis project">
    <meta name="author" content="Chansida Makaranond">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <title>Result</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--TemplateMo 570 Chain App Dev https://templatemo.com/tm-570-chain-app-dev-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/templatemo-chain-app-dev.css">
    <link rel="stylesheet" href="/css/animated.css">
    <link rel="stylesheet" href="/css/owl.css">
    <style>
        i {
            color: rgb(255, 30, 0);
        }

        .status {
            float: right;
        }

        .exception {
            float: right;
        }

        .count {
            float: right;
            margin: 7px;
        }

        .name {
            float: left;
        }

        .btn-danger {
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
        }

        .btn-warning {
            color: #000;
            background-color: #ffc107;
            border-color: #ffc107;
        }

        .btn-success {
            color: #fff;
            background-color: #28a745;
            border-color: #28a745;
        }

        .btn-info {
            color: #000;
            background-color: #17a2b8;
            border-color: #17a2b8;
        }

        .btn-primary {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-link {
            color: #d30147;
            background-color: transparent;
            background-image: none;
            border-color: transparent;
        }

        .btn-link2 {
            color: #d35f01;
            background-color: transparent;
            background-image: none;
            border-color: transparent;
            text-decoration: underline;
        }

        .btn-link3 {
            color: #51aacb;
            background-color: transparent;
            background-image: none;
            border-color: transparent;
            text-decoration: underline;
        }
    </style>
</head>

<body>

    <script src="https://apis.google.com/js/api.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <div class="container">

        <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <a href="/home" class="logo">
                                <img src="/Pic/mylogo.png" alt="Microusity" class="logopic">
                            </a>


                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li class="scroll-to-section"><a href="/home">Home</a></li>
                                <li class="scroll-to-section"><a href="/content">Content</a></li>
                                <li class="scroll-to-section"><a href="/quiz">Quiz</a></li>
                                <li class="scroll-to-section"><a href="/testingtool">Sandbox</a>
                                </li>
                                <li class="scroll-to-section"><a href="/testingtool2">Testing tool</a></li>
                                <li class="scroll-to-section"><a href="#" class="active">Result</a>
                                </li>
                                <li class="scroll-to-section"><a href="/history">History</a></li>
                                <li class="scroll-to-section"><a href="/aboutus">About us</a></li>
                                <li>
                                    <div class="gradient-button"><a id="modal_trigger" href="/logout">Log Out</a></div>
                                </li>
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->

        <br><br><br><br><br><br><br>
        <!--Total Result count-->

        <!-- <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total Requests</h5>
                        <button type="button" class="btn btn-primary">
                            <%=countReqs %>
                        </button>
                        <br><br>
                        <h5 class="card-title"> Total Responses</h5>
                        <button type="button" class="btn btn-success"><b>2XX:</b>
                            <%=sum2xxs %>
                        </button>
                        <a class="btn btn-info"><b>3XX:</b>
                            <%=sum3xxs %>
                        </a>
                        <button type="button" class="btn btn-danger"><b>4XX:</b>
                            <%=main4xxs + sub4xxs %>
                        </button>
                        <a class="btn btn-warning"><b>5XX:</b>
                            <%=main5xxs + sub5xxs %>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->

        <!--Total count-->

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total Requests</h5>
                        <button type="button" class="btn btn-primary">
                            <%=countReqs %>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total Responses</h5>
                        <!-- <p class="card-text" style="color:black;">Error code count</p> -->
                        <button type="button" class="btn btn-success"><b>2XX:</b>
                            <%=sum2xxs %>
                        </button>
                        <a class="btn btn-info"><b>3XX:</b>
                            <%=sum3xxs %>
                        </a>
                        <button type="button" class="btn btn-danger"><b>4XX:</b>
                            <%=main4xxs + sub4xxs %>
                        </button>
                        <a class="btn btn-warning"><b>5XX:</b>
                            <%=main5xxs + sub5xxs %>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <!--Invalid list-->
        <div id="accordion5">
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h4 class="mb-0">
                        <span>
                            <button class="btn btn-link3" data-toggle="collapse" data-target="#collapseFive"
                                aria-expanded="true" aria-controls="collapseFive">
                                <h5>API Coverage</h5>
                            </button>
                        </span>
                        <span class="count">
                            <%= valid %>/<%= valid+invalid %>
                        </span>
                    </h4>
                </div>

                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion5">
                    <div class="card-body">
                        <ul class="list-group">

                            <% for(let speccov in speccovs){ %>
                                <% if(speccovs[speccov].valid==0){ %>
                                <li class="list-group-item list-group-item-action list-group-item-danger">
                                            <div class="main">
                                                <b>
                                                    <span class="name"><%= speccovs[speccov].verb_endpoint %>
                                                           </span>
                                                    <span class="status">
                                                        INVALID
                                                    </span>
                                                </b>

                                            </div>
                                </li> 
                                <br>
                                <% } else { %>  
                                    <li class="list-group-item list-group-item-action list-group-item-success">
                                        <div class="main">
                                            <b>
                                                <span class="name"><%= speccovs[speccov].verb_endpoint %>
                                                       </span>
                                                <span class="status">
                                                    VALID
                                                </span>
                                            </b>

                                        </div>
                            </li> 
                            <br>
                                    <% } %>  
                            <% } %>  
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <h4>Issues found</h4>
        <br>
        <!--Error count-->

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Responses from Backend For Frontend (BFF)</h5>
                        <p class="card-text" style="color:black;">Error responses count</p>
                        <button type="button" class="btn btn-danger"><b>4XX:</b>
                            <%=main4xxs %>
                        </button>
                        <a class="btn btn-warning"><b>5XX:</b>
                            <%=main5xxs %>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Responses from Core APIs</h5>
                        <p class="card-text" style="color:black;">Error responses count</p>
                        <button type="button" class="btn btn-danger"><b>4XX:</b>
                            <%=sub4xxs %>
                        </button>
                        <a class="btn btn-warning"><b>5XX:</b>
                            <%=sub5xxs %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h4>Detailed analysis</h4>
        <br>
        <!--Both Exception list-->
        <div id="accordion4">
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h4 class="mb-0">
                        <span>
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="true" aria-controls="collapseFour">
                                <h5>Both responses from BFF and Core APIs contain errors</h5>
                            </button>
                        </span>
                        <span class="count">
                            <%= bothLeakIds.length %>
                        </span>
                    </h4>
                </div>

                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion4">
                    <div class="card-body">
                        <ul class="list-group">

                            <% for(let result of results){ %>
                                <% for(let trackId of bothLeakIds){ %>
                                    <% if(result.request===null){ %>
                                        <% } else {%> 
                                            
                                    <% if(result.request.subrequest==trackId.id){ %>
                                        <% if(resultid === null){ %>
                                                <li class="list-group-item list-group-item-action list-group-item-danger" onclick= "window.open('/graph/<%=result.request.subrequest%>','_self')">
                                            <% } else {%> 
                                                <li class="list-group-item list-group-item-action list-group-item-danger" onclick= "window.open('/graph2/<%=result.request.subrequest%>/<%=resultid%>','_self')">
                                                <% } %> 
                                    
                                        
                                            <div class="main">
                                                <b>
                                                    <span class="name">Request: <%= result.request.method %>
                                                            <%= result.request.uri %></span>
                                                    <span class="status">
                                                        <%= result.request.status_code %>
                                                    </span>
                                                </b>
                                                <% if(result.request.exception){ %>
                                                    <br>
                                                    <span class="exception">
                                                    <i> Exception: <%= result.request.exception %></i>
                                                    </span>
                                                <% } %>

                                            </div>
                                        </li>
                                 
                                        <% for(let subrequest of result.subrequest){ %>
                                            <li class="list-group-item">
                                                <div class="sub">
                                                    <span class="name">
                                                        <% if(subrequest.exception){ %>
                                                            <b>Subrequest: <%= subrequest.method %>
                                                                    <%= subrequest.uri %></b>
                                                            <% } else {%>
                                                                Subrequest: <%= subrequest.method %>
                                                                    <%= subrequest.uri %>
                                                                <% } %>
                                                    </span>

                                                    <span class="status">
                                                        <% if(subrequest.exception){ %>
                                                            <b>
                                                                <%= subrequest.status_code %>
                                                            </b>
                                                            <% } else {%>
                                                                <%= subrequest.status_code %>
                                                                    <% } %>

                                                    </span>

                                                    <% if(subrequest.exception){ %>
                                                        <br>
                                                        <span class="exception">
                                                        <i> Exception: <%= subrequest.exception %></i>
                                                        </span>
                                                        <% } %>

                                                </div>
                                            </li>

                                            <% } %>
                                                <br>
                                    <% } %>
                                    <% } %>
                                <% } %>
                            <% } %>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!--BFF Exception list-->
        <div id="accordion3">
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h4 class="mb-0">
                        <span>
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="true" aria-controls="collapseThree">
                                <h5>Only responses from BFF contain errors</h5>
                            </button>
                            <span class="count">
                                <%= bffLeakIds.length %>
                            </span>
                        </span>
                    </h4>
                </div>

                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion3">
                    <div class="card-body">
                        <ul class="list-group">

                            <% for(let result of results){ %>
                                <% for(let trackId of bffLeakIds){ %>
                                    <% if(result.request===null){ %>
                                        <% } else {%> 
                                    <% if(result.request.subrequest==trackId.id){ %>
                                        <% if(resultid === null){ %>
                                            <li class="list-group-item list-group-item-action list-group-item-danger" onclick= "window.open('/graph/<%=result.request.subrequest%>','_self')">
                                        <% } else {%> 
                                            <li class="list-group-item list-group-item-action list-group-item-danger" onclick= "window.open('/graph2/<%=result.request.subrequest%>/<%=resultid%>','_self')">
                                            <% } %> 
                                            <div class="main">
                                                <b>
                                                    <span class="name">Request: <%= result.request.method %>
                                                            <%= result.request.uri %></span>
                                                    <span class="status">
                                                        <%= result.request.status_code %>
                                                    </span>
                                                </b>

                                                <% if(result.request.exception){ %>
                                                    <br>
                                                    <span class="exception">
                                                    <i> Exception: <%= result.request.exception %></i>
                                                    </span>
                                                    <% } %>
                                            </div>
                                        </li>

                                        <% for(let subrequest of result.subrequest){ %>
                                            <li class="list-group-item">
                                                <div class="sub">
                                                    <span class="name">Subrequest: <%= subrequest.method %>
                                                            <%= subrequest.uri %></span>
                                                    <span class="status">
                                                        <%= subrequest.status_code %>
                                                    </span>
                                                </div>
                                            </li>

                                            <% } %>
                                                <br>
                                                <% } %>
                                                    <% } %>
                                                        <% } %>
                                                        <% } %>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!--Core Exception list-->
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h4 class="mb-0">
                        <span>
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                <h5>Only responses from Core APIs contain errors</h5>
                            </button>
                        </span>
                        <span class="count">
                            <%= coreLeakIds.length %>
                        </span>
                    </h4>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <ul class="list-group">

                            <% for(let result of results){ %>
                                <% for(let trackId of coreLeakIds){ %>
                                    <% if(result.request===null){ %>
                                        <% } else {%> 
                                    <% if(result.request.subrequest==trackId.id){ %>
                                        <% if(resultid === null){ %>
                                            <li class="list-group-item list-group-item-action list-group-item-danger" onclick= "window.open('/graph/<%=result.request.subrequest%>','_self')">
                                        <% } else {%> 
                                            <li class="list-group-item list-group-item-action list-group-item-danger" onclick= "window.open('/graph2/<%=result.request.subrequest%>/<%=resultid%>','_self')">
                                            <% } %> 
                                            <div class="main">

                                                <span class="name">Request: <%= result.request.method %>
                                                        <%= result.request.uri %></span>
                                                <span class="status">
                                                    <%= result.request.status_code %>
                                                </span>

                                            </div>
                                        </li>

                                        <% for(let subrequest of result.subrequest){ %>
                                            <li class="list-group-item">
                                                <div class="sub">
                                                    <span class="name">
                                                        <% if(subrequest.exception){ %>
                                                            <b>Subrequest: <%= subrequest.method %>
                                                                    <%= subrequest.uri %></b>
                                                            <% } else {%>
                                                                Subrequest: <%= subrequest.method %>
                                                                    <%= subrequest.uri %>
                                                                        <% } %>
                                                    </span>

                                                    <span class="status">
                                                        <% if(subrequest.exception){ %>
                                                            <b>
                                                                <%= subrequest.status_code %>
                                                            </b>
                                                            <% } else {%>
                                                                <%= subrequest.status_code %>
                                                                    <% } %>

                                                    </span>

                                                    <% if(subrequest.exception){ %>
                                                        <br>
                                                        <span class="exception">
                                                        <i> Exception: <%= subrequest.exception %></i>
                                                        </span>
                                                        <% } %>
                                                </div>
                                            </li>

                                            <% } %>
                                                <br>
                                                <% } %>
                                                    <% } %>
                                                        <% } %>
                                                        <% } %>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!--500 error list-->
        <div id="accordion2">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h4 class="mb-0">
                        <span>
                            <button class="btn btn-link2" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="true" aria-controls="collapseTwo">
                                <h5>Requests with HTTP 5XX responses</h5>
                            </button>
                        </span>
                        <span class="count">
                            <%= trackIds.length %>
                        </span>
                    </h4>
                </div>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion2">
                    <div class="card-body">
                        <ul class="list-group">

                            <% for(let result of results){ %>
                                <% for(let trackId of trackIds){ %>
                                    <% if(result.request===null){ %>
                                        <% } else {%> 
                                            
                                    <% if(result.request.subrequest==trackId.id){ %>
                                        <li class="list-group-item list-group-item-action list-group-item-danger">
                                            <div class="main">

                                                <span class="name">
                                                    <% if(result.request.status_code>= 500 && result.request.status_code
                                                        < 600){ %>
                                                            <b>Request: <%= result.request.method %>
                                                                    <%= result.request.uri %></b>
                                                            <% } else {%>
                                                                Request: <%= result.request.method %>
                                                                    <%= result.request.uri %>
                                                                        <% } %>
                                                </span>

                                                <span class="status">
                                                    <% if(result.request.status_code>= 500 && result.request.status_code
                                                        < 600){ %>
                                                            <b>
                                                                <%= result.request.status_code %>
                                                            </b>
                                                            <% } else {%>
                                                                <%= result.request.status_code %>
                                                                    <% } %>

                                                </span>

                                            </div>
                                        </li>

                                        <% for(let subrequest of result.subrequest){ %>
                                            <li class="list-group-item">
                                                <div class="sub">


                                                    <span class="name">
                                                        <% if(subrequest.status_code>= 500 && subrequest.status_code <
                                                                600){ %>
                                                                <b>Subrequest: <%= subrequest.method %>
                                                                        <%= subrequest.uri %></b>
                                                                <% } else {%>
                                                                    Subrequest: <%= subrequest.method %>
                                                                        <%= subrequest.uri %>
                                                                            <% } %>
                                                    </span>

                                                    <span class="status">
                                                        <% if(subrequest.status_code>= 500 && subrequest.status_code <
                                                                600){ %>
                                                                <b>
                                                                    <%= subrequest.status_code %>
                                                                </b>
                                                                <% } else {%>
                                                                    <%= subrequest.status_code %>
                                                                        <% } %>

                                                    </span>

                                                </div>
                                            </li>

                                            <% } %>
                                                <br>
                                                <% } %>
                                                    <% } %>
                                                        <% } %>
                                                        <% } %> 
                        </ul>
                    </div>
                </div>
            </div>

        </div>




    </div>

    </div>
</body>

</html>